body
{
background-color:blue;
font-family:Verdana,Helvetica,Geneva,sans-serif;
font-size:12px;
}
#page
{
background-color:yellow;
margin-left:auto;
margin-right:auto;
width:90%;
margin-top:20px;
margin-bottom:0px;
padding:1%;
padding-bottom:225px;
}
.header
{
background-color:green;
text-align:center;
}
.contentLeftNav
{
float:left;
width:20%;
background-color:#00FF00;
}
.contentMain
{
margin-left:20%;
position:absolute;
width:58%;
background-color:#FFFFFF;
}
.contentAds
{
float:right;
position:relative;
background-color:#FF0000;
width:10%;
}
.footer
{
clear:left;
width:100%;
margin-top:-10px;
font-size:8px;
background-color:#000000;
color:lime;
text-align:right;
padding-top:5px;
padding-bottom:10px;
}